

<body>
<div class="goal">


	<div class="goaltitle">
		<h1>Choose your GOALS</h1>
	</div>	
	<div class="goalinfo">
		<h2>Define your custom goal or choose a common goal from the list (coming soon), then pick your deadline.<br></br><font class="smart">Goals should be SMART: specific, measureable, action-oriented, realisic and time-based, e.g. lose 30lb, save $5,000.</font></h2>
	</div>
	<div class="textarea">
		<%= render 'form' %>
		
	</div>
	<div class="link">
	<%= link_to 'Back', goals_path %>
</div>
</div>
</body>