/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body { margin: 0px; padding: 0px; border: 0px; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea { margin: 0; padding: 0;  }


html{
	background-color: #6B80A5;
	color: white;
	height: 100%;
	background-image: url("LeMoinePointSunset.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	
}
body {
	text-align: center;
}
h1 {
	margin: 20px;
	color: white;
	padding: 11px;
    width: 50%;
    margin-bottom: 1px;
    border-radius: 15px;
    background-color: #B550F5;
    text-decoration: none;
    display: inline-table;
    vertical-align: middle;
    box-shadow: 10px 10px 10px black;
    font-family: "rockwell extra bold", "times new roman", arial;
	font-weight: bold;
	font-size: 30px;
}
h2 {
	margin: 40px;
	color: black;
	padding: 11px;
    width: 70%;
    margin-bottom: 1px;
    border-radius: 15px;
    background-color: #D9AEF5;
    text-decoration: none;
    display: inline-table;
    vertical-align: middle;
    box-shadow: 10px 10px 10px black;
    font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 30px;
}

footer {
	font-size: 12px;
	font-family: sans-serif;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 40px;
}
.smart {
	font-size: 85%;
}
.textarea {
	margin: 40px;
	font-size: 20px;
}
.link {
	font-size: 20px;
}
.goal {
background: image-url("/images/LeMoinePointSunset.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}
